<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>1toX</title>

  <link rel="shortcut icon" href="static/favicon.ico">
  <link href="static/style/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">1toX</h1>
      <div class="scores-container">
        <div id="night" style="display: inline-block; padding-right: 20px;">
            <a id="nightbtn"><img src="static/style/night.png"></a>
        </div>
        <div class="level-container">1</div>
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Remember the numbers <strong>quick</strong>!</p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div style="text-align:center">
        <h2 style="color:white">HIGHSCORE</h2>
        {% for line in hsll %}
          <p>{{ line.0 }} : {{ line.1 }} <p>
        {% endfor %}
      </div>
    </div>

  </div>

  <script src="static/js/nightmode.js"></script>

</body>
</html>
